<section class='link-con'>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h3>友情链接</h3>
                <div class="link-list">
                    <a href="#">百度一下</a>
                    <a href="#">娱乐一下</a>
                    <a href="#">搜狗一下</a>
                    <a href="#">腾讯一下</a>
                    <a href="#">阿里一下</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h3>联系方式</h3>
                <div class="con-list clearfix">
                    <div class="format-item"><span>微信: 123165546748</span></div>
                    <div class="format-item"><span>QQ: 41654685465</span></div>
                </div>
            </div>
        </div>
        <!-- linkway -->

        <!-- contact -->
    </div>
</section>
<footer>
    <div class="container">
        <p>河南省南阳市南阳理工学院</p>
        <p>豫ICP备16019398号</p>
    </div>
</footer>
