<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{$web_info.title}</title>
    <meta name="keywords" content="{$web_info.keywords}">
    <meta name="description" content="{$web_info.description}">
    <include file="Index/header" />
</head>
<body>
    <!-- index -->
    <!-- nav -->
    <include file="Index/nav"/>

    <div class="container">
        <!-- container -->
        <div class="row">
            <div class="col-md-9">
                <div class="recommend clearfix">
                    <div class="banner">
                        <!-- banner -->
                        <!--<a href="#" class="radius-shadow"><img src="Public/images/banner1.jpg" alt=""></a>
                        <span class="do-count"><i>阅读数</i>1</span>-->
                        <volist name="banner_news" id="banner_new" offset="0" length="1">
                            <a href="{$banner_new.news_id|getNewUrl}" class="radius-shadow"><img src="{$banner_new.thumb}" alt="{$banner_new.title}"></a>
                            <span class="do-count"><i>阅读数</i><s class="news-count node-{$banner_new.news_id}" attr-id="{$banner_new.news_id}" id="node-{$banner_new.news_id}"></s></span>
                        </volist>
                    </div>
                    <div class="small_banner">
                        <!-- small_banner -->
                        <!--<a href="#" class="radius-shadow"><span><i class="">26</i>2017年7月</span><img src="Public/images/banner1.jpg" alt=""></a>-->
                        <!--<a href="#" class="radius-shadow"><span><i class="">26</i>2017年7月</span><img src="Public/images/banner1.jpg" alt=""></a>-->
                        <!--<a href="#" class="radius-shadow"><span><i class="">26</i>2017年7月</span><img src="Public/images/banner1.jpg" alt=""></a>-->
                        <volist name="small_banner_news" id="s_b_new" offset="0" length="3">
                            <a href="{$s_b_new.url}" class="radius-shadow"><span><i class="">{$s_b_new.create_time|date='d', ###}</i>{$s_b_new.create_time|date='Y m', ###}</span><img src="{$s_b_new.thumb}" alt="{$s_b_new.title}"></a>
                        </volist>
                    </div>
                </div>
                <div class="page-list" style="margin-top: 20px;">
                    <volist name="page_list" id="new" offset="0" length="4">
                        <div class="row content clearfix ">
                            <if condition="$new['thumb'] neq null">
                                <div class="hidden-xs col-sm-3">
                                    <a href="{$new.news_id|getNewUrl}" class="thumb radius-shadow"><img src="{$new.thumb}" alt="{$new.title}"></a>
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <dl>
                                        <dt><a href="{$new.news_id|getNewUrl}">{$new.title}</a></dt>
                                        <dd>{$new.description}...</dd>
                                    </dl>
                                    <div class="remark">
                                        <span><i class="fa fa-tags"></i> {$new.keywords}</span>
                                        <span><i class="fa fa-calendar"></i> {$new.create_time|date='Y-m-d H:i', ###}</span>
                                        <span><i class="fa fa-star"></i> 阅读(<s class="news-count node-{$new.news_id}" attr-id="{$new.news_id}" id="node-{$new.news_id}"></s>)</span>
                                    </div>
                                </div>
                            <else />
                                <div class="col-xs-12">
                                    <dl>
                                        <dt><a href="{$new.news_id|getNewUrl}">{$new.title}</a></dt>
                                        <dd>{$new.description}...</dd>
                                    </dl>
                                    <div class="remark">
                                        <span><i class="fa fa-tags"></i> {$new.keywords}</span>
                                        <span><i class="fa fa-calendar"></i> {$new.create_time|date='Y-m-d H:i', ###}</span>
                                        <span><i class="fa fa-star"></i> 阅读(<s class="news-count node-{$new.news_id}" attr-id="{$new.news_id}" id="node-{$new.news_id}"></s>)</span>
                                    </div>
                                </div>
                            </if>
                        </div>
                    </volist>

                    <!--<div class="row content clearfix ">
                        <div class="hidden-xs col-sm-3">
                            <a href="" class="thumb"><img src="Public/images/banner1.jpg" alt=""></a>
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <dl>
                               <dt><a href="">这是标题</a></dt>
                               <dd>这是内容简介当你重置浏览器大小的过程中，页面也会根据浏览器的宽度和高度重新渲染页面...</dd>
                           </dl>
                           <div class="remark">
                               <span><i class="fa fa-tags"></i> 关键词</span>
                               <span><i class="fa fa-calendar"></i> 时间</span>
                               <span><i class="fa fa-star"></i> 阅读(1万+)</span>
                            </div>
                        </div>
                    </div>
                    <div class="row content clearfix ">
                        <div class="hidden-xs col-sm-3">
                            <a href="" class="thumb"><img src="Public/images/banner1.jpg" alt=""></a>
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <dl>
                               <dt><a href="">这是标题</a></dt>
                               <dd>这是内容简介当你重置浏览器大小的过程中，页面也会根据浏览器的宽度和高度重新渲染页面...</dd>
                           </dl>
                           <div class="remark">
                               <span><i class="fa fa-tags"></i> 关键词</span>
                               <span><i class="fa fa-calendar"></i> 时间</span>
                               <span><i class="fa fa-star"></i> 阅读(1万+)</span>
                            </div>
                        </div>
                    </div>
                    <div class="row content clearfix ">
                        <div class="hidden-xs col-sm-3">
                            <a href="" class="thumb"><img src="Public/images/banner1.jpg" alt=""></a>
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <dl>
                               <dt><a href="">这是标题</a></dt>
                               <dd>这是内容简介当你重置浏览器大小的过程中，页面也会根据浏览器的宽度和面也会根据浏览器的宽度和面也会根据浏览器的宽度和高度重新渲染页面...</dd>
                           </dl>
                           <div class="remark">
                               <span><i class="fa fa-tags"></i> 关键词</span>
                               <span><i class="fa fa-calendar"></i> 时间</span>
                               <span><i class="fa fa-star"></i> 阅读(1万+)</span>
                            </div>
                        </div>
                    </div>-->
                    <div class="row clearfix">
                        <div class="col-xs-12 page-header text-center">
                            加载更多。。。
                        </div>
                    </div>
                </div>
            </div>
            <include file="Index/right" />
        </div>
    </div>
    <include file="Index/footer" />
    <!-- js -->
    <script src="Public/js/jquery-3.2.1.js"></script>
    <script src="Public/bootstrap/js/bootstrap.js"></script>
    <script>
        var SCOPE={
            'getCount_url':'/index.php?c=index&a=getCount'
        };
    </script>
    <script src="Public/js/count.js"></script>
</body>
</html>