<include file="Index/header" />
<body>
<div id="wrapper">

    <include file="Index/nav" />
    <div id="page-wrapper" class="content-wrapper py3">
        <div class="container-fluid">
            <!-- container -->
            <div class="row">
                <div class="col-lg-12 mt20">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-dashboard"></i><a href="/admin.php?c=position">推荐位管理</a></li>
                        <li class="active"><i class="fa fa-edit"></i>添加</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form action="" class="form-horizontal" id="position_add">
                        <div class="form-group">
                            <label for="inputname" class="col-sm-2 contral-label">请填写推荐位名称：</label>
                            <div class="col-sm-5"><input type="text" class="form-control" name="name" value="" id="inputname" placeholder="推荐位名称"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputpassword3" class="col-sm-2 contral-label">请填写推荐位描述：</label>
                            <div class="col-sm-5"><input type="text" class="form-control" name="description" value="" id="inputpassword3" placeholder="推荐位描述"></div>
                        </div>
                        <div class="form-group">
                        <label for="optionsRadiosInline1" class="col-sm-2 control-label">状态:</label>
                            <div class="col-sm-5">
                                <input type="radio" name="status" id="optionsRadiosInline1" value="1" checked> 开启
                                <input type="radio" name="status" id="optionsRadiosInline2" value="0"> 关闭
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10"><button class="btn btn-default" type="button" id="position_add_sub">提交</button></div>
                        </div>
                    </form>
                </div> 
            </div>
            

        </div>
    </div>
</div>
<script>
    var SCOPE={
        'save_url':'/admin.php?c=position&a=add',
        'jump_url':'admin.php?c=position'

    };
</script>
<include file="Index/footer" />