<include file="Index/header" />
<body>
<div id="wrapper">
    <foreach name="list" item="vo" >{$key}|{$vo.id}:{$vo.name}</foreach>
    <include file="Index/nav" />
    <script type="text/javascript" src="Public/kindeditor/kindeditor-all.js"></script>
    <div id="page-wrapper" class="content-wrapper py3">
        <div class="container-fluid pl20">
            <div class="row">
                <div class="col-lg-12 mt20">
                    <ol class="breadcrumb">
                        <li><i class="fa fa-dashboard"></i><a href="/admin.php?c=content">文章管理</a></li>
                        <li class="active"><i class="fa fa-edit"></i>文章添加</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form action="" class="form-horizontal" id="news_add">
                        <div class="form-group">
                            <label for="inputname" class="col-sm-2 control-label">标题：</label>
                            <div class="col-sm-5"><input type="text" class="form-control" name="title" id="inputname" value="" placeholder="请填写标题"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputname" class="col-sm-2 control-label">短标题：</label>
                            <div class="col-sm-5"><input type="text" class="form-control" name="small_title" id="inputname" value="" placeholder="请填写短标题"></div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">缩图：</label>
                            <div class="col-sm-5">
                                <input type="file" id="file_upload" multiple="true">
                                <img src="" style="display:none;" id="upload_org_code_img" width="150" height="150">
                                <input type="hidden" id="file_upload_image" name="thumb" multiple="true" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputname" class="col-sm-2 control-label">标签颜色：</label>
                            <div class="col-sm-5">
                                <select name="title_font_color" class="form-control">
                                    <option value="">==请选择颜色==</option>
                                    <foreach name="titleFontColor" item="tf_color">
                                        <option value="{$tf_color}">{$key}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputname" class="col-sm-2 control-label">所属栏目：</label>
                            <div class="col-sm-5">
                                <select name="catid" class="form-control">
                                    <volist name="homeMenus" id="homeMenu">
                                        <option value="{$homeMenu.menu_id}">{$homeMenu.name}</option>
                                    </volist>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputname" class="col-sm-2 control-label">来源：</label>
                            <div class="col-sm-5">
                                <select name="copyfrom" class="form-control">
                                    <foreach name="copyFrom" item="copy_from">
                                        <option value="{$copy_from}">{$key}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">内容：</label>
                            <div class="col-sm-5">
                                <textarea class="input js-editor form-control" name="content" id="kindeditor" rows="20"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">描述：</label>
                            <div class="col-sm-9"><input type="text" class="form-control" name="description" id="inputPassword3" placeholder="请填写描述" ></div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">关键字：</label>
                            <div class="col-sm-5"><input type="text" class="form-control" name="keywords" id="inputPassword3" placeholder="请填写关键词" ></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-primary" type="button" id="news_add_sub">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    var SCOPE={
        'save_url':'/admin.php?c=content&a=add',
        'jump_url':'/admin.php?c=content',
        'swf_url':'Public/uploadify/uploadify.swf',
        'uploader_url':'/admin.php?c=image&a=ajaxUploadImage',
        'uploaderJson_url':'/admin.php?c=image&a=kindUpload'
    };
</script>
<script>
    KindEditor.ready(function(k){
        window.editor=k.create(
            '#kindeditor',
            {
                cssPath : 'Public/kindeditor/plugins/code/prettify.css',
                uploadJson : SCOPE.uploaderJson_url,
                afterBlur : function(){this.sync();}
            }
        );
    });
</script>
<script src="Public/uploadify/jquery.uploadify.js"></script>
<script src="Public/js/admin/image.js"></script>
<include file="Index/footer" />